.container {
  width: 95%;
  margin: auto;
  /* background-color: hsl(38, 76%, 92%); */
  height: 250px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.category {
  margin-left: 20px;
  align-self: flex-start;
}
.category h2 {
  padding: 0px;
  margin: 9px;
  /* color:#2c2c2c; */
  color: white;
}

.all-musics {
  height: 80%;
  width: 95%;
  /* background-color: #e3dcd3; */
  border-radius: 10px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin: auto;
}

.all-musics::-webkit-scrollbar {
  height: 10px;
}

.all-musics::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 29%);
  width: 100px;
  border-radius: 20px;
}

.all-musics::-webkit-scrollbar-track-piece {
  background-color: #a7a5a5;
  border-radius: 20px;
}

.music {
  flex-shrink: 0;
  border-radius: 7px;
  margin: 0px 5px;
  height: 90%;
  width: 130px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: hsl(0, 4%, 84%);
}
.music:hover {
  box-shadow: 7px 5px 10px hsla(0, 0%, 0%, 0.8);
  color: #a7a5a5;
}



.music-image {
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  min-width: 97%;
  min-height: 49%;
  /* border: 1px solid black; */
}
.music-image img {
  border-radius: 5px;
  margin: auto;
  width: 100%;
  height: 100%;
}
.music-title {
  height: 51%;
  width: 97%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.music-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  font-weight: bold;
}
